.btn a{
    border: none;
    color: rgb(255, 0, 162);
    padding: 0;
    border-radius: 100%;
    font-size: 25px;
}
.btn button{
    background-color: transparent;
    border: 0;
    color: aliceblue;
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.btn button:hover{
    color: rgb(253, 66, 3);
    font-style: oblique;
    border: none;
}
.bootom_navigation_btn{
    position: fixed;}